.App {
  background-color: black;
}

.FloatingMan {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

div#17.HotSpot {
  color: white;
  position: relative;
  z-index: 1;
  opacity: 0.1;
  transition: opacity 0.8s;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
}

.HotSpot {
  color: white;
  position: relative;
  z-index: 1;
  opacity: 0.1;
  transition: opacity 0.8s;
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

.HotSpot:hover {
  opacity: 1;
}

.HotSpot::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  border: 2.5px solid white;
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.popup {
  visibility: hidden;
  color: white;
  position: relative;
  z-index: 2;
  width: 15em;
  height: 15em;
}

.organ-blowup {
  display: block;
  max-height: 120vh;
  max-width: 60vh;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tab button {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.6s;
}

.tab button:hover {
  background-color: #bbb;
}

.tab button.active {
  background-color: #aaa;
  color: black;
}

.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid white;
  border-top: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tabcontent p {
  transition: opacity 2s ease;
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
