.App {
  background-color: black;
  text-align: center;
  overflow: hidden;
  font-family: fantasy;
  font-weight: bold;
}

.FloatingMan {
  margin: auto;
  position: relative;
  background-color: black;
  height: 100vh;
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 666px;
  max-height: 666px; */
}

.floating-man-image {
  height: 100%;
}

.EasterEgg, .poem-container {
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  transition: opacity 0.8s;
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.HotSpot {
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  transition: opacity 0.8s;
  width: 4vh;
  height: 4vh;
  border-radius: 100%;
}

.HotSpot:hover, .EasterEgg:hover, .poem-container:hover {
  opacity: 1;
}

.HotSpot::after, .EasterEgg::after, .poem-container:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  border: 1.5px solid white;
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.popup {
  visibility: hidden;
  color: white;
  position: absolute;
  z-index: 2;
  height: 33%;
  width: 33%;
  text-align: justify;
}

.popup h4 {
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
}

.popup img{
  margin-left: 33%;
  height: 33%;
  width: 33%;
  border-radius: 10%;
}

.popup div {
  height: 33%;
}
/*
.popup-background {
  background: rgba(25, 25, 25, 0.5);
} */

.organ-blowup {
  display: block;
  max-height: 66vh;
  max-width: 42vh;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  border: 1px solid white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 42vh;
  /* width: 50%; */
}

.tab button {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  transition: 0.3s;
  font-family: fantasy;
  font-weight: bold;
}

.tab button:hover {
  border-radius: 30%;
  background-color: #2d2c38;
}

.tab button.active {
  border-radius: 3%;
  border: 1px solid white;
  background-color: #2d2c38;
  color: white;
}

.tabcontent, .form-input, .poem {
  display: block;
  padding: 10px 12px;
  border: 1px solid white;
  /* border-top: none; */
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 42vh;
  overflow: auto;
  max-height: 33vh;
}

input {
  font-family: fantasy;
  background-color: #22211d;
  font-weight: bold;
  border: hidden;
  color: #f2dea3;
  border-radius: 5%;
}

input.button {
  border: hidden;
}

/* .form-input {
  color: white;
} */
/*
.poem {
  color: white;
} */

/*
.tabcontent p.active {
  transition: opacity 2s ease;
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
} */
