.App {
  background-color: black;
  text-align: center;
  overflow: hidden;
  font-family: 'Cormorant Infant', serif;;
  font-weight: bold;
}

.FloatingMan {
  margin: auto;
  position: relative;
  background-color: black;
  height: 100vh;
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 666px;
  max-height: 666px; */
}

.floating-man-image {
  height: 100%;
}

.EasterEgg, .poem-container {
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  transition: opacity 0.8s;
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.HotSpot {
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  transition: opacity 0.8s;
  width: 4vh;
  height: 4vh;
  border-radius: 100%;
}

.HotSpot:hover, .EasterEgg:hover, .poem-container:hover {
  opacity: 1;
}

.HotSpot::after, .EasterEgg::after, .poem-container:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  border: 1.5px solid white;
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.popup {
  visibility: hidden;
  color: white;
  position: absolute;
  z-index: 2;
  height: 33%;
  width: 50%;
  text-align: center;
  font-size: 12.5px;
  /* text-shadow: black 0.5px 0.5px 0.5px; */
}

.popup h4, .form-input h3 {
  text-align: center;
  font-family: 'Cormorant Infant', serif;;
  font-weight: bold;
}

.popup img{
  /* margin-left: 33%; */
  height: 33%;
  width: 33%;
  border-radius: 10%;
}

/* .popup div {
  height: 33%;
} */

.popup-background {
  background: rgba(25, 25, 25, 0.5);
}

.organ-blowup {
  display: block;
  max-height: 66vh;
  max-width: 42vh;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  border: 1px solid white;
}

figure {
  margin: 0;
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  font-size: 7px;
  border: 1px solid white;
  max-width: 42vh;
  line-height: 1.3em;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 42vh;
  /* width: 50%; */
}

.tab button {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  transition: 0.3s;
  font-family: 'Cormorant Infant', serif;;
  font-weight: bold;
}

.tab button:hover {
  border-radius: 30%;
  background-color: #2d2c38;
}

.tab button.active {
  border-radius: 3%;
  border: 1px solid white;
  background-color: #2d2c38;
  color: white;
}

.tabcontent, .form-input, .poem, .poem-list {
  display: block;
  padding: 10px 12px;
  border: 1px solid white;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 42vh;
  overflow: auto;
  font-size: 12.5px;
}

.tabcontent {
  max-height: 30vh;
}

.form-input {
  max-height: 37vh;
}

/* .poem {
  max-height: 70vh;
} */

input, .poem-details {
  font-family: 'Cormorant Infant', serif;;
  background-color: #22211d;
  font-weight: bold;
  border: hidden;
  color: #f2dea3;
  border-radius: 5%;
}

input.button {
  border: hidden;
}

.thumbnail {
    /* transition-delay: 2s; */
    /* border:1px solid white; */
    opacity: 1;
    -webkit-animation: thumbnail 2.5s ease-out infinite;
    animation: thumbnail 2.5s ease-out infinite;
    /* border-color: transparent; */
}

@-webkit-keyframes thumbnail {
  from, to {
    border-color: transparent
  }
  0% {
    box-shadow: 0px 0px 15px 5px transparent;
  }
  50% {
    box-shadow: 0px 0px 15px 5px white;
  }
  100% {
    box-shadow: 0px 0px 15px 5px transparent;
  }
}

@keyframes thumbnail {
  from, to {
    border-color: transparent
  }
  0% {
    box-shadow: 0px 0px 15px 5px transparent;
  }
  50% {
    box-shadow: 0px 0px 15px 5px white;
  }
  100% {
    box-shadow: 0px 0px 15px 5px transparent;
  }
}

.secret {
    /* transition-delay: 2s; */
    /* border: 0.2px solid rgba(225, 225, 225, 0.8); */
    /* border: 0.2px!important; */
    opacity: 0.4;
    -webkit-animation: secret 2.5s ease-out infinite;
    animation: secret 2.5s ease-out infinite;
    /* border-color: transparent; */
}

@-webkit-keyframes secret {
  from, to {
    border-color: transparent
  }
  0% {
    box-shadow: 0px 0px 30px 10px transparent;
  }
  50% {
    box-shadow: 0px 0px 30px 10px white;
  }
  100% {
    box-shadow: 0px 0px 30px 10px transparent;
  }
}

@keyframes secret {
  from, to {
    border-color: transparent
  }
  0% {
    box-shadow: 0px 0px 30px 10px transparent;
  }
  50% {
    box-shadow: 0px 0px 30px 10px white;
  }
  100% {
    box-shadow: 0px 0px 30px 10px transparent;
  }
}



/* .form-input {
  color: white;
} */
/*
.poem {
  color: white;
} */

/*
.tabcontent p.active {
  transition: opacity 2s ease;
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
} */
